* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-gradient-start: hsl(37, 97%, 70%);
  --instagram-gradient-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --toggle-gradient-start: hsl(210, 78%, 56%);
  --toggle-gradient-end: hsl(146, 68%, 55%);

  /* Dark */
  --toggleLight: hsl(230, 22%, 74%);
  --veryDarkBlueBG: hsl(230, 17%, 14%);
  --veryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
  --darkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
  --desaturatedBlueText: hsl(228, 34%, 66%);
  --wihite: hsl(0, 0%, 100%);
  /* light */
  --whiteLight: hsl(0, 0%, 100%);
  --verypalebluetopbgpattern: hsl(225, 100%, 98%);
  --lightGrayishBlueCardBG: hsl(227, 47%, 96%);
  --darkGrayishBlueText: hsl(228, 12%, 44%);
  --veryDarkBlueText: hsl(230, 17%, 14%);
  /* tranistion */
  --mainTrans: all 0.3s ease;
}
body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--mainTrans);
}
.container {
  padding: 30px;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.head .info p {
  color: var(--darkGrayishBlueText);
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}
.head.second {
  padding: 20px;
}
.head .dark-mode {
  display: flex;
}
.head button {
  width: 40px;
  height: 20px;
  border-radius: 35px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: var(--darkGrayishBlueText);
  overflow: hidden;
}
.head .darkBTN {
  background: linear-gradient(
    var(--toggle-gradient-start),
    var(--toggle-gradient-end)
  );
}
.switch {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 86%;
  line-height: 87%;
  width: 40%;
  background-color: var(--whiteLight);
  border-radius: 100%;
  transform: translateY(-50%);
  transition: var(--mainTrans);
}
.switch.switchDark {
  left: 23px;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  background-color: var(--lightGrayishBlueCardBG);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: var(--mainTrans);
}
.card.facebook {
  border-top: 4px solid var(--facebook);
}
.card.instagram {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    )
    1 0 0 0;
}
.card.twitter {
  border-top: 4px solid var(--twitter);
}
.card.youtube {
  border-top: 4px solid var(--youtube);
}

.grid-layout .card .profile {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.grid-layout .card .profile img {
  margin-right: 5px;
}
.grid-layout .card .followers h3 {
  font-size: 42px;
  margin: 10px 0;
  font-weight: 700;
}
.grid-layout .card .followers span {
  font-size: 14px;
  color: var(--darkGrayishBlueText);
}
.grid-layout .card .followers p {
  color: var(--limeGreen);
  font-size: 12px;
}

.second-grid-layout {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.second-grid-layout .card {
  width: 300px;
  padding: 20px;
}
.second-grid-layout .down h2 {
  font-size: 32px;
}
.second-grid-layout .down p {
  font-size: 12px;
}
.second-grid-layout .up,
.second-grid-layout .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.second-grid-layout p {
  color: var(--limeGreen);
}
.darkMode {
  background-color: var(--veryDarkBlueBG);
  color: var(--verypalebluetopbgpattern);
}
.dark-card {
  background-color: var(--darkDesaturatedBlueCardBG);
}
